{% extends 'alumno/index.html' %}

{% block tittle %}Nuevo{% endblock tittle %}
{% block main %}
{% load static %}
    <div class="container">
        <form enctype="multipart/form-data"  method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                <strong> {{ form.errors | capfirst }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
             {% endif %}

            <h1 id="selector">agregar foto</h1>

            
                {{ form.cedula }} <br>
                {{ form.nombre }} <br>
                {{ form.apellido }} <br>
                {{ form.genero }} <br>
                {{ form.foto }} <br>
           
            

            <button type="submit">Save</button>
            <a href="{% url 'index' %}" class="btn btn-danger">Cancelar</a>
        </form>
        
    </div>

    <script>
       $(function(){
            $('#selector').click(function(){
                alert($('id_foto').val())
            })
       })
    </script>

{% endblock main %}